@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);

body {
font-family:'PT Sans';
}

a,a:link,a:visited {
color:#fff;
}

h1,h2 {
font-family:Montserrat;
font-weight:400;
}

.pr-container {
background:#D32F2F;
}

h3,h4 {
margin:0;
padding:0;
}

.pr-slide-scaler {
    box-shadow: 0 0 30px #691515;
}

.pitch {
background:#F44336 url('noisy.png');
color:#fff;
}

.pitch h1,.pitch h2 {
color:#fff;
line-height:.8em;
}

.pitch p {
font-size:1.5em;
}

.pr-slide-number {
top:12px;
opacity:1;
position:absolute;
right:20px;
}

.press {
background:#000;
}

.home {
    background: url('cloudy.png'), #F44336 url('noisy.png');
}

.home h1 {
font-family:'PT Sans';
font-size:1.25em;
}

.home p {
margin:0 0 5px;
padding:0;
}

.home-buttons {
width:30%;
margin:20px auto 0;
}

.home .home-buttons {
margin:20px auto;
}

.logo img {
     z-index: 2;
    position: relative;
}

.rocket img {
     position: absolute;
    top: 40px;
    right: 460px;
    width: 300px;
    height: 300px;
    opacity: 0.2;
}

.home-buttons a {
display:block;
width:100%;
text-decoration:none;
color:#fff;
background:#2C3E50;
border-radius:2px;
font-size:1.25em;
font-family:Montserrat;
margin:5px 0 0;
padding:5px 0;
}

.final .home-buttons {
font-size:2.5em;
width:72%;
}

.final .home-buttons a {
border-radius:5px;
}

.home-buttons a:nth-child(2) {
background:rgba(0,0,0,.33);
}

.left {
width:70%;
float:left;
}

.right {
width:25%;
float:right;
}

.right img {
margin-top:60px;
width:100%;
}

.no-margin {
margin:0;
padding:0;
}

.no-margin img {
width:100%;
}

.custom {
background:#000;
color:#DFFF00;
font-family:Chalkboard, 'Comic Sans', sans-serif;
}

.custom h1 {
background:#7C0491;
color:#02F72C;
text-align:center;
border-radius:45%;
border-top-right-radius:0;
border-bottom-left-radius:0;
font-family:'Marker Felt', 'Comic Sans' sans-serif;
padding:20px 0;
}

.ugly-yellow {
color:#FBB829;
font-size:2em;
text-align:center;
}

/*modal*/

.modal:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.modal:target:before {
  display: block;
}
.modal:target .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 20%;
}
.modal-dialog {
  background: #fefefe;
  border-radius: 2px;
  margin-left: -200px;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  width: 400px;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal-body {
  padding: 0 20px;
}
.modal-header {
    text-align: center;
  border-bottom: #eeeeee solid 1px;
}
.modal-header h2 {
  font-size: 20px;
}
        
.modal-footer {
    padding: 10px 0 18px;
  text-align: right;
}
        
.modal-body input[type=text], .modal-body input[type=email]{
     width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    font-family: 'PT Sans';
}

.modal-body label {
    margin: 10px 0 0;
    display: block;
}
        
.submit-modal {
    background: #2B3E4E;
    border: 0;
    margin: 0;
    padding: 10px;
    color: #fff;
    font-size: 1em;
    font-family: 'PT Sans';
    border-radius: 3px;
}
        
a.close-modal {
    color: #2B3E4E;
    margin-right: 10px;
}
.indicates-required {color: #ccc; font-size: 0.8em; margin-bottom: 5px;}
/*ADDED TO STOP SCROLLING TO TOP*/
#close {
  display: none;
}  

.come {
    opacity: 0.25;
}